@use "../../../config/style/" as *;
.todo-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	.list_item {
		min-width: calc(45% + 5rem);
	}
	.list-empty {
		margin: 3rem;
		color: get-color(sky, 500);
	}
}
